exportPattern("^[[:alpha:]]+")

S3method("+",rolls)
S3method("[",rolls)
S3method("[<-",rolls)
S3method(heads,rolls)
S3method(plot,rolls)
S3method(print,device)
S3method(print,summary.rolls)
S3method(print,device)
S3method(summary,device)
S3method(tails,rolls)
export(is.device)
export(device)
export(check_sides)
export(check_prob)
export(print.device)
export(check_times)
export(rolls)
export(summary.rolls)
